{% extends '::base.html.twig' %}

{% block content %}
    <div class="container" id="home">
        <div class="row">
            <div class="col-xs-12">
                <div id="welcome">
                    <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
                    <h2> Link page list :</h2>
                    <ul>
                        <li><a href="{{ path("homepage") }}">Home</a></li>
                        <li><a href="{{ path("fos_user_security_login") }}">Login</a></li>
                        <li><a href="{{ path("fos_user_registration_register") }}">Register</a></li>
                        <li><a href="{{ path("fos_user_security_logout") }}">Logout</a></li>
                        <li>... other link page if u want ! </li>
                    </ul>
                </div>
                <div id="status">
                    <p>
                        Your application is now ready. You can start working on it at:
                        <code>{{ base_dir }}</code>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
