{% extends '::base.html.twig' %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div id="login" class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="#">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true"><i class="fa fa-window-close" aria-hidden="true"></i></span>
                    </button>
                </a>
                <div class="form-wrap">
                    <h1>Connectez-vous ?</h1>
                    {% if error %}
                        <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form role="form" action="{{ path("fos_user_security_check") }}" method="POST" id="login-form" autocomplete="off">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="form-group">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username ou email" required="required" />
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        </div>
                        <input type="submit" id="_submit" name="_submit" class="btn btn-custom btn-lg btn-block" value="{{ 'security.login.submit'|trans }}" />
                    </form>
                    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
{% endblock content %}
