{% extends "::base.html.twig" %}

{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="fos_user_user_show">
        <div id="profil">
            {% if vich_uploader_asset(user, 'avatar') is not empty %}
                <img src="{{ vich_uploader_asset(user, 'avatar') }}" alt="{{ user.username }}" class="profil-img img-responsive" width="180" height="180"/>
            {% else %}
                <img src="{{ asset('images/avatar/unknow_user.png') }}" alt="unknow" class="profil-img img-responsive" width="180" height="180">
            {% endif %}
            <div class="profil-text">
                {% if user == current_user %}
                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                {% endif %}
                <h1 class="profil-name">{{ user.username }}</h1>
                <h4 class="profil-title">{{ user.firstname }} {{ user.lastname }} • {% if user.birthdate is not empty %} {{ user.birthdate|date("d/m/Y") }}{% endif %}</h4>
                <span class="profil-title">{{ user.description }}</span>
            </div>
        </div>

        <div id="artwork_share">
            <div class="content">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="title-contents">
                            <h2>Oeuvres à partager</h2>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if artworksShared is not empty %}
                        {% for sharing in artworksShared %}
                            <div class="col-md-4 col-sm-6 latest">
                                <a href="{{ path('artwork_show', { 'id': sharing.artwork.id }) }}" class="box-link">
                                  <div class="item">
                                    <div class="box-hover">
                                        <div class="box-hover-content">
                                            <i class="fa fa-plus fa-3x"></i>
                                        </div>
                                    </div>
                                    {% if vich_uploader_asset(sharing.artwork, 'cover') is not empty %}
                                        <img src="{{ vich_uploader_asset(artwork.artwork, 'cover') }}" alt="{{ sharing.artwork.name }}" class="img-responsive" width="180" height="180"/>
                                    {% elseif sharing.artwork.coverUrl is not empty %}
                                        <img src="{{ sharing.artwork.coverUrl }}" alt="cover" class="img-responsive" width="180" height="180">
                                    {% else %}
                                        <img src="{{ asset('images/cover/unknow_cover.jpg') }}" alt="unknow" class="img-responsive" width="180" height="180">
                                    {% endif %}
                                  </div>
                                </a>
                                <div class="box-caption">
                                    <a href="{{ path('artwork_show', { 'id': sharing.artwork.id }) }}"><h4>{{ sharing.artwork.name }}</h4></a>
                                    <p class="text-muted">{{ sharing.artwork.author | capitalize }}</p>
                                    <hr>
                                    <ul class="list-group black">
                                        <a href="{{ path('artwork_index', { 'name': sharing.artwork.category.name }) }}"><li class="list-group-item list-group-item-heading"> {{ sharing.artwork.category.name | capitalize }}</li></a>
                                        <li class="list-group-item list-group-item-text"> {{ sharing.artwork.description | capitalize}}</li>
                                    </ul>
                                    {% if user == current_user %}
                                    <div class="row">
                                      <div class="col-sm-12">
                                        <div class="text-center">
                                          <a href="{{ path('artwork_unsharing', { 'id': sharing.artwork.id }) }}" class="btn btn-danger">
                                            <i class="fa fa-trash-o"></i> Supprimer
                                          </a>
                                        </div>
                                      </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3 class="text-center">Il n'existe pas d'oeuvre à partager pour ce profil</h3>
                    {% endif %}
                </div>

            </div>
        </div>

        {% if user == current_user %}
            <div id="artwork_share">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="title-contents">
                                <h2>Salons crées</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% if rooms is not empty %}
                            {% for room in rooms %}
                                <div class="col-md-4 col-sm-6 latest">
                                    <a href="{{ path('room_show', { 'id': room.id }) }}" class="box-link">
                                        <div class="box-hover">
                                            <div class="box-hover-content">
                                                <p>Rejoindre le salon</p>
                                            </div>
                                        </div>
                                        <img src="{{ asset('images/salons.jpg') }}" class="img-responsive" alt="nom oeuvre">
                                    </a>
                                    <div class="box-caption">
                                        <h4>{{ room.name }}</h4>
                                        <p class="text-muted">{{ room.creator }}</p>
                                        <p>01-01-2017 • 02-01-2017</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3 class="text-center">Vous n'avez créé aucun salon</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div id="contact_profil">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="title-contents">
                                <h2>Contacter {{ user.username }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form class="center-block contact-form">
                            <input name="name" type="text" class="form-control" placeholder="Votre Nom" />
                            <input name="email" type="text" class="form-control" placeholder="Votre Email" />
                            <textarea name="content" class="form-control" placeholder="Votre commentaire"></textarea>
                            <input type="submit" value="Envoyer" class="btn btn-custom center-block"/>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}


    </div>

{% endblock content %}
